*.pyc
.DS_Store
settings.py
venv
venv3
__pycache__
resource/*/*.xml
*.iml
.pytest_cache
.project
.pydevproject
.idea/
docs/
schema/
*.txt
src/static/ontospy/*
src/static/ontospy/README.md
src/util/quickstart.py
src/util/datacatalogfromspreadsheet-a5ccabb0919f.json
resource/datacatalogfromspreadsheet-a5ccabb0919f.json
