[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mockito = "*"
flake8 = "*"
black = "*"
flake8-bugbear = "*"
mypy = "*"
types-requests = "*"

[packages]
lxml = "*"
Flask-Cors = "*"
xmltodict = "*"
flask-restx = "*"
pygments = "*"
urllib3 = "*"
requests = "*"
rdflib = "*"
numpy = "*"
elasticsearch = "~=7.17"
flask = "*"
validators = "*"
gitpython = "*"

[requires]
python_version = "3.8"
