[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mockito = "*"
flake8 = "~=4.0"
black = "*"
flake8-bugbear = "*"
mypy = "*"
types-requests = "*"
types-flask-cors = "*"

[packages]
lxml = "*"
Flask-Cors = "*"
flask-restx = "*"
requests = "*"
rdflib = "~=6.1.0"
numpy = "*"
elasticsearch = "~=7.17"
flask = "~=2.1.0"
validators = "*"

[requires]
python_version = "3.8"
