<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Beeld en Geluid</title>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/beng-lod-style.css')}}"/>
</head>

<body class="body">
<div class="container-fluid">
    <div id="logo">
        <img src="{{url_for('static', filename='images/B&G_logo_RGB_liggend_RL.png')}}"
             alt="B&G logo"
             style="width:142px;height:30px;"/>
        <span id="logo_title"><span style="font-weight:bold;">lod</span> view</span>
    </div>
</div>
{% block resource_lod_view_header %}{% endblock %}
{% block resource_lod_view %}{% endblock %}
{% block resource_lod_view_footer %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>