<div id="directs" class="container-fluid">
	{% block json_iri_lit %}
	{% include "lod_view_iri_lit.html" %}
	{% endblock %}
	{% block json_iri_iri %}
	{% include "lod_view_iri_iri.html" %}
	{% endblock %}
</div>
<div id="bnodes" class="container-fluid">
	{% if (json_iri_bnode|first) is defined %}
	<h3>Blank nodes</h3>
	{% endif %}
	{% block json_iri_bnode %}
	{% include "lod_view_iri_bnode.html" %}
	{% endblock %}
</div>
<div id="inverses" class="container-fluid">
	{% if (json_inverse_relations|first) is defined %}
	<h3>Inverse relations</h3>
	{% endif %}
	{% block json_inverse_relations %}
	{% include "lod_view_inverse_relations.html" %}
	{% endblock %}
</div>
<div id="lodCloud" class="empty"></div>
