	{% for item in json_iri_iri %}
	<div class="row">
		<div class="col-3 py-2 text-truncate">
			<a title="&lt;{{item.p.uri}}&gt;" href="{{item.p.uri}}" target="_blank">{{item.p.prefix}}:<span class="fw-bold">{{item.p.property}}</span></a>
		</div>
		<div class="col-9 py-2 border-bottom text-truncate">
			{% if item.o.labels|length %}
                <a title="&lt;{{item.o.uri}}&gt;" href="{{item.o.uri}}" target="_blank">{{ item.o.labels|first }}</a>
`			{% else %}
				<a title="&lt;{{item.o.uri}}&gt;" href="{{item.o.uri}}" target="_blank">{{item.o.prefix}}:<span class="fw-bold">{{item.o.property}}</span></a>
			{% endif %}
		</div>
	</div>
	{% endfor %}