{% extends "base.html" %}

{% block header %}
{% block title %}B&G LOD View{% endblock %}
{% endblock %}

{% block resource_lod_view_header %}
<header class="py-2 mb-2">
	<div class="container-fluid">
		<div class="row align-items-end">
			<div class="col-6">
				<a class="link-light" title="&lt;{{resource_uri}}&gt;" href="{{resource_uri}}" target="_blank">&lt;{{resource_uri}}&gt;</a>
			</div>
			<div class="col-6 text-end">
				{% for item in json_header %}
				<a class="link-light" title="&lt;{{item['o']}}&gt;" href="{{item['o']}}" target="_blank">&lt;{{item['o']}}&gt;</a><br>
				{% endfor %}
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block resource_lod_view %}
<div class="container-fluid">
	{% for item in json_iri_lit %}
	<div class="row">
		<div class="col-3 p-2">
			<a title="&lt;{{item['p']}}&gt;" href="{{item['p']}}" target="_blank">&lt;{{item['namespace']}}/<span class="fw-bold">{{item['property']}}</span>&gt;</a>
		</div>
		<div class="col-6 p-2 border-bottom">{{item['o']}}</div>
		<div class="col-3 p-2 border-bottom text-end">{{item['type_o']}}</div>
	</div>
	{% endfor %}
	{% for item in json_iri_iri %}
	<div class="row">
		<div class="col-3 p-2">
			<a title="&lt;{{item['p']}}&gt;" href="{{item['p']}}" target="_blank">&lt;{{item['namespace']}}/<span class="fw-bold">{{item['property']}}</span>&gt;</a>
		</div>
		<div class="col-9 p-2 border-bottom">
			<a title="&lt;{{item['o']}}&gt;" href="{{item['o']}}" target="_blank">&lt;{{item['o']}}&gt;</a>
		</div>
	</div>
	{% endfor %}
	{% for item in json_iri_bnode %}
	<div class="row">
		<div class="col-3 p-2">
			<a title="&lt;{{item['p']}}&gt;" href="{{item['p']}}" target="_blank">&lt;{{item['namespace']}}/<span class="fw-bold">{{item['property']}}</span>&gt;</a>
		</div>
		{% for item in json_iri_bnode.o %}
		<div class="col-6 p-2 border-bottom">&lt;{{item['prop']}}&gt;</div>
		<div class="col-3 p-2 border-bottom">{{item['obj']}}</div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
<div id="bnodes" class="empty"></div>
<div id="inverses"></div>
<div id="lodCloud" class="empty"></div>
{% endblock %}

{% block resource_lod_view_footer %}
<footer class="py-2 text-white">
	<div class="container-fluid">
		<div class="row">
			<div class="col-8">
				<nav class="navbar navbar-dark bg-transparent">
					<span class="navbar-brand">
						<img src="{{url_for('static', filename='images/B&G_logo_RGB_liggend_RL_Blauw.png')}}" alt="Beeld & Geluid logo" width="142" height="30" class="d-inline-block align-text-top">
						<strong>lod</strong> view
					</span>
				</nav>
			</div>
			<div class="col-4">
				<div class="py-2">
					data from: <a class="text-white" title="https://cat.apis.beeldengeluid.nl/sparql" href="https://cat.apis.beeldengeluid.nl/sparql" target="_blank">https://cat.apis.beeldengeluid.nl/sparql</a><br>
					view as: <a class="text-white" title="application/ld+json" href="{{resource_uri}}" target="_blank">ld+json</a>
				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock %}