<table>
    <caption>{{className}}</caption>
    <tr>
        <th>Property</th>
        <th>Range</th>
        <th>subPropertyOf</th>
        <th>Label</th>
        <th>Description</th>
    </tr>
    {% for prop in classProps %}
    <tr>
        <td>{{ prop['@id']|getLastStringAfter }}</td>
        <td>
            {% if prop["http://www.w3.org/2000/01/rdf-schema#range"] is defined %}
                {% for range in prop["http://www.w3.org/2000/01/rdf-schema#range"] %}
                    <a {% if range['@id']|externalResource %} target="_blank" {% endif %}
                            title="{{range['@id']}}"
                            href="{% if range['@id']|externalResource %} {{ range['@id'] }} {% else %} {{ range['@id']|getLastStringAfter }} {% endif %}"
                    >
                        {{ range['@id']|getLastStringAfter }}
                    </a>
                {% endfor %}
            {% endif %}
        </td>
        <td>
            {% for subProperty in prop["http://www.w3.org/2000/01/rdf-schema#subPropertyOf"] %}
                <span
                        title="{{subProperty['@id']}}"
                >
                    {{ subProperty["@id"]|getLastStringAfter }}
                </span>
            {% endfor %}
        </td>
        <td>
            <!-- This block assumes that there is a defined language.
            If no language is defined the node will be skipped -->
            {% for label in prop["http://www.w3.org/2000/01/rdf-schema#label"] %}
                {% if label["@language"] is defined and label["@language"] == language %}
                    {{ label["@value"] }}
                {% endif %}
            {% endfor %}
        </td>
        <td>
            <!-- This block assumes that there is a defined language.
            If no language is defined the object will be skipped -->
            {% for comment in prop["http://www.w3.org/2000/01/rdf-schema#comment"] %}
                {% if comment["@language"] is defined and comment["@language"] == language %}
                    {{ comment["@value"] }}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>