name: Build & Push

on:
  push:
    branches:
    - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-push-image:
    uses: beeldengeluid/gha-workflows/.github/workflows/build-push-image.yml@4f838fab72113ee5f113cd98fb8e9899dad9d009 # v2025.12.30
    secrets: inherit
    permissions:
      contents: read
      packages: write
      id-token: write
