name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - name: Set up Python
      uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d #v5.1.0
      with:
        python-version-file: pyproject.toml
    - name: Install poetry
      run: pipx install poetry==1.7.1
    - name: Check poetry.lock
      run: poetry check
    - name: Install poetry env from pyproject.toml
      run: poetry install
    - name: Run tests
      run: poetry run pytest
    - name: Check lint rules
      run: poetry run flake8
    - name: Check code style
      run: poetry run black --check .
    - name: Check type annotations
      run: poetry run mypy .
