name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.0
    - name: Set up Python
      uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d #v5.1.0
      with:
        python-version-file: pyproject.toml
    - name: Install poetry
      run: pipx install poetry==1.7.1
    - name: Check poetry.lock
      run: poetry check
    - name: Install poetry env from pyproject.toml
      run: poetry install
    - name: Run tests
      run: poetry run pytest src/tests --cov
    - name: Check lint rules
      run: poetry run flake8
    - name: Check code style
      run: poetry run black --check .
    - name: Check type annotations
      run: poetry run mypy .
